<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>
<body>
    <form action="/<%=user[userid]%>/posts" method="post">
        <input type="id" placeholder="id">
        <input type="text" placeholder="userid">
        <input type="text" placeholder="content">
        <button type="submit">post</button>
    </form>
</body>
</html>